<div class="camisas">
    <app-camisas [preco]="'R$ 50,00'" [camisaFoto]="'./assets/img/camisa/camisa barsea.png'"></app-camisas>
    <app-camisas [preco]="'R$ 50,00'" [camisaFoto]="'./assets/img/camisa/camisa barsea.png'"></app-camisas>
    <app-camisas [preco]="'R$ 50,00'" [camisaFoto]="'./assets/img/camisa/camisa barsea.png'"></app-camisas>
    <app-camisas [preco]="'R$ 50,00'" [camisaFoto]="'./assets/img/camisa/camisa barsea.png'"></app-camisas>
    <app-camisas [preco]="'R$ 50,00'" [camisaFoto]="'./assets/img/camisa/camisa barsea.png'"></app-camisas>
    <app-camisas [preco]="'R$ 50,00'" [camisaFoto]="'./assets/img/camisa/camisa barsea.png'"></app-camisas>
    
</div>